PORT=5000
MONGO_URI=mongodb+srv://invitoinboxofficial_db_user:aditya@cluster0.k9evaqj.mongodb.net/invite_app?retryWrites=true&w=majority
JWT_SECRET=xWoR7YUKj4yIi7DMFOuC

CLOUDINARY_CLOUD_NAME=dudatjaxr
CLOUDINARY_API_KEY=197353973647665
CLOUDINARY_API_SECRET=TWuI8MMu3Bk07bPfAzBOzVlZNqc

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=invitoinbox.official.noreply@gmail.com
EMAIL_PASS=mtui laqc fbcw amzq

BREVO_API_KEY=your_smtp_key_here
BREVO_SENDER_EMAIL=invitoinbox.official.noreply@gmail.com
BREVO_SENDER_NAME=E-Invite
FRONTEND_URL=http://10.113.44.12:5173

# Mobile App Deep Link Configuration
NODE_ENV=development
EXPO_DEV_IP=127.0.0.1
EXPO_PORT=8081

VITE_GOOGLE_CLIENT_ID=809833359205-7ss88v7nrkaoqqgifo7afn68a4jrhfgd.apps.googleusercontent.com